@model Frontend.Models.CategoriaPaginacao

@{
    ViewBag.Title = "Categorias";
}

<br />
<h2>Categorias</h2>

<p>
    @Html.ActionLink("Nova", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CategoriaPaginada())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit") |
                @Html.ActionLink("Detalhes", "Details") |
                @Html.ActionLink("Apagar", "Delete")
            </td>
        </tr>
    }

</table>

<ul class="pagination">
    @for (int i = 1; i <= Model.Contador(); i++)
    {
        <li class="@(i==Model.PaginaAtual?"page-item-active" : " page-item")">
            <a class="page-link" href="@Url.Action("Index",new { Pagina = i})">@i</a>
        </li>

    }
</ul>
